
.carousel-item img {
    height: 600px;
    /* Set the desired height */
    object-fit: fill;
    /* Cover the area while maintaining aspect ratio */
    width: 100%;
    /* Make sure the image takes the full width */
}

.carousel-inner {
    height: 400px;
    /* Match the height of the carousel inner */
}

#tailwindcard {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

                                                                 