*{
    margin: 0.2px;  
}
.carousel-item img {
            height: 400px; /* Set the desired height */
            object-fit: cover; /* Cover the area while maintaining aspect ratio */
            width: 100%; /* Make sure the image takes the full width */
        }

        .carousel-inner {
            height: 300px; /* Match the height of the carousel inner */
        }